
/* 如果html要套用css在title先載入<link rel = "stylesheet" href = "./CSS.css"> */

font {
    
    /* 更改字體設定 */

    color: #0000ff;         /* 更改字體顏色 */

    text-align: center;       /* 文字對齊 left：左  right：右   center：置中對齊    justify：左右對齊   
                                                initial：使用預設   inherit：繼承父元素對齊方式 */

    text-indent: 32px;        /* 首行縮排，可以使用cm、px、pt、em等設定固定長度，預設是0，%：縮排父元素寬度的百分比 */

    text-transform: none;     /* 大小寫轉換，normal：這是預設，保持文字原本樣式 capitalize：文字第1個字母大寫
                                            uppercase：字母全部轉成大寫 lowercase：字母全部轉成小寫 */

    text-shadow: none;        /* 文字陰影，h-shadow：水平陰影的位置，往右是正值，允許負值，此值不可忽略
                                          v-shadow：垂直陰影的位置，往下是正值，允許負值，此值不可省略 
                                          blur-radius：可設定模糊的範圍，單位與h-shadow或v-shadow相同，可省略
                                          color：陰影顏色 
                                          前面3(4)個要輸入，輸入格式為text-shadow: 5 5 5 blue;
                                          none：這是預設，沒有陰影 */

    text-decoration: none;    /* 線條裝飾，none：這是預設   inderline：底線
                                          overline：頂線    line-through：刪除線 還有許多搭配線條的設定屬性*/

    text-decoration-color: blue;    /* 主要是指定裝飾線條色彩 */

    text-decoration-style: none;    /* 這是線條裝修樣式，solid：實線，這是預設  dashed：虛線    dotted：點線
                                                        double：雙線    wavy：波浪線 */
    
    overflow: hidden;               /* 溢出資料隱藏 */

    text-overflow: clip;            /* 文字超出顯示範圍時的處理方式，clip：超出顯示區的資料不予顯示
                                                                   ellipsis：超出顯示區的資料以"..."顯示 */

    white-space: normal;      /* 處理空白字元，normal：這是預設，瀏覽器會忽略空白   nowrap：本文不換行，直到遇上<br>
                                              pre：空白會保留，類似HTML的<pre>元素  pre-line：合併空白符號，文件正常換行
                                              pre-wrap：瀏覽器會保留空白符號，文件正常換行 
                                              initial：使用預設   inherit：繼承父元素對齊方式 */

    word-spacing: normal;     /* 文字間距，normal：這是預設，文字間距是0.25em   length：設定額外文字的間距，可以是負值
                                initial：使用預設(不知跟上面有甚麼差別)     inherit：繼承父元素對齊方式*/

    word-wrap: normal;        /* 這個屬性主要是處理顯示區寬度無法顯示較長的單字時，ex.URL的網址，網頁處理方式
                                normal：這是預設，只有在可以換行的地方換行，否則持續顯示直到結束 
                                break-word：可以直接將較長的單字或URL網址中途換行 */

    line-height: normal;      /* 行高設定，normal：這是預設，設置合理的行高 number：設定數字，這個數字會與目前字形尺寸相乘來設置行間距
                                          length：設定固定的行間距，單位可以是cm、px、pt等  %：依目前字形尺寸的百分比   inherit：繼承父元素對齊方式 */

    letter-spacing: normal;   /* 字母間距，normal：這是預設，沒有額外空間   length：設定固定的字元間距，可以是負值 
                                        initial：使用預設(不知跟上面有甚麼差別)     inherit：繼承父元素對齊方式 */
    
    font-family: "Timer New Roman" , "Arial"; /* 字型名稱，如果第1個找不到字體將會依序的往下找*/
    
    font-size: 10px;                          /* 字型大小 */
    
    font-style: normal;                       /* 字型樣式(這邊是斜體處理，分為正常normal 斜體italic 傾斜體oblique) */
    
    font-weight: normal;                      /* 字型樣式(這邊是粗體處理，分為正常normal 粗體字bold 更粗的字體bolder 更細的字體bolder 也可以給數值100-900 細至粗) */
    
    font-variant: small-caps;                 /* 預設是normal，可以把英文小寫變大寫、大寫字體變得比小寫還要大一點 */
    
    font-size-adjust: none;                   /* 主要是設定字型高度高度比率，給小數數值 */
    
    @font-face {                              /* 可以從伺服器上下載字型下來(但要小心版權問題) */
        font-family: ;
        src: url();
    }

    tab-size: 0;            /* 設定Tab鑑寬度，number：預設是8個英文字元寬度 
                                             length：設定tab字元的長度，目前尚未獲得主要瀏覽器支援 */
}

/* 項目清單 */
list {

    list-style-type: none;      /* 建立項目清單符號 
                                    下列是項目符號的屬性值
                                    disc：這是預設，實心圓點    circle：空心圓點    square：實心方塊    none：不顯示項目符號
                                    下列是編號符號的屬性值
                                    decimal：阿拉伯數字，從1開始計數
                                    decimal-leading-zero：阿拉伯數字，從01、02...開始計數
                                    lower-roman/upper-roman：小寫/大寫羅馬數字(i/l)
                                    lower-alpha/upper-alpha：小寫/大寫英文字母(a/A)
                                    lower-greek：小寫希臘字母
                                    lower-latin/upper-latin：小寫/大寫拉丁字母
                                    hebrew/armenian/gerogian：希伯來編號/亞美尼雅編號/喬治雅編號 
                                    hiragana/katakana/hiragana-iroha/katakana-iroha：日文片假名(a/A/i/I)*/

    list-style-image: none;     /* 建立圖片項目符號，url(filename) */

    list-style-position: inside;    /* 項目符號與編號位置，inside和outside，像list一樣有分外層內層關係 */
    
    list-style: none;           /* 這是上述3個加起來的屬性，可以一起設定，如果某個屬性值使用預設，是可以省略 */

}

/* 背景 */
background {
    
    opacity: 1;                     /* 透明度，介於0.0(完全透明) ~ 1.0之間(完全不透明) */

    background-color: blue;      /* 背景顏色，可輸入color_name、hex_number、rgb_number、transparent(預設，背景透明) */

    background-image: none;        /* 背景圖像，url()，none */

    background-repeat: repeat;     /* 可設定圖像是否重複出現，
                                        repeat：這是預設，圖片將在水平方向和船值方向重複出現
                                        repeat-x：圖片將在x軸水平方向重複出現
                                        repeat-y：圖片將在y軸垂直方向重複出現
                                        no-repeat：圖片只顯示一次
                                        space：圖片在水平和垂直重複出現時會自動調整間距，讓圖片完整呈現
                                        sound：圖片在水平和垂直重複出現時會自行調整大小，讓圖片完整呈現 */

    background-position: center;    /* 可以將圖片放在指定位置，而不是一律放在左上角 
                                       value值可以是下列幾類
                                       left top、left center、left bottom、right top、right center、right center、right bottom
                                       center top、center center、center bottom
                                       如果設定一個值，另一個一定是center
                                       x% y%
                                       百分比方式設置，第一個是水平位置，第二個是垂直位置，左上是0%0%，右下角是100%100%，
                                       如果只設定一個值，另一個值一定是50% 
                                       xpos ypos
                                       第一個值是水平位置，第二個值是垂直位置，ex像素px，如果只設定一個值，另一個值是50%
                                       ，可混用%c和position值 */

    background-size: auto;          /* 背景圖片大小
                                    auto：這是預設選項，背景圖依本身的寬高顯示，若是背景空間不夠，則只能顯示部分圖像
                                    length：設置圖片得寬度和高度，第一個值是寬度，第二個值是高度。如果只設一個值另一個就是auto
                                    percentage：以父元素的百分比來設置圖片的寬度和高度，同length敘述
                                    cover：可能造成部分圖像不再背景區
                                    contain：圖像會依背景大小自行調整覆蓋整個背景區 */

    background-attachment: scroll;  /* 背景圖片是否隨內容捲動，scroll：這是預設 fixed：背景圖不會隨頁面捲動 
                                            local：一般使用與scroll相同，但在inframe顯示時，背景圖則不捲動 */
    
    background-clip: border-box;    /* 設定背景圖片的顯示區域，待 */
    
    background-origin: border-box;  /* 設定背景圖片顯示的基準點，待 */
                                            
    background: none;               /* 背景簡易表示法
                                    可以設定下列屬性值 
                                    background-color background-image background-position background-size
                                    background-repeat background-attachment background-origin background-clip */
}

/* Margin外邊距 */
Margin {

    margin-top: 20px;       /* 上外邊距 */

    margin-right: 30px;     /* 右外邊距 */

    margin-bottom: 40px;    /* 下外邊距 */

    margin-left: 50px;      /* 左外邊距 */

    margin: 20px 30px 40px 50px;           /* 上述4種的簡易表示法，使用時是順時針top、right、bottom、left */

}

/* padding內邊距 */
padding {

    padding-top: 5px;       /* 上內邊距 */

    padding-right: 10px;    /* 右內邊距 */

    padding-bottom: 15px;   /* 下內邊距 */

    padding-left: 20px;     /* 左內邊距 */

    padding: 5px 10px 15px 20px;    /* 上述4種的簡易表示法，使用時是順時針top、right、bottom、left */

}

/* Border邊框 */
Border {

    border-top-style: none;     /* 上框線樣式 */

    border-right-style: none;   /* 右框線樣式 */

    border-bottom-style: none;  /* 下框線樣式 */

    border-left-style: none;    /* 左框線樣式 */

    border-style: none;         /* 上述4種的簡易表示法，使用時是順時針上右下左 */

    /* border-style的值可以設
        none：無邊框
        dotted：點框線
        dashed：虛框線
        solid：實線框線，寬度由border-width決定
        groove：3D內凹框線，效果需由border-color決定
        ridge：3D外凸框線，效果需由border-color決定
        inset：內凹框線，效果需由border-color決定
        outset：外凹框線，效果需由border-color決定
    */

    border-top-color: none;     /* 上框線色彩 */

    border-right-color: none;   /* 右框線色彩 */

    border-bottom-color: none;  /* 下框線色彩 */

    border-left-color: none;    /* 左框線色彩 */

    border-color: none;         /* 上述4種的簡易表示法，使用時是順時針上右下左 */



    border-top-width: none;     /* 上框線寬度 */

    border-right-width: none;   /* 右框線寬度 */

    border-bottom-width: none;  /* 下框線寬度 */

    border-left-width: none;    /* 左框線寬度 */

    border-width: none;         /* 上述4種的簡易表示法，使用時是順時針上右下左 */

    /* border-width，有以下這幾個值
        thin：細框線
        medium：這是預設，中等框線
        thick：粗框線
        length：設定邊框寬度 */

    border-top: none;           /* 上，簡易表示法 */

    border-right: none;         /* 右，簡易表示法 */

    border-bottom: none;        /* 下，簡易表示法 */

    border-left: none;          /* 左，簡易表示法 */

    border: none;               /* 簡易表示法 */
    
    /* 上面表示法可以用下列方式表達
        border-style  border-color  border-width */
    
    border-top-left-radius: 10px;   /* 可設定左上方的邊框圓角，如果只有一個長度，表示是圓角。
                                                              如果有兩個長度，第一個長度是水平軸半徑，
                                                                             第二個長度是垂直軸半徑
                                                              如果是百分比，第一個代表寬度百分比
                                                                           第二個代表高度百分比 */

    border-top-right-radius: 10px;  /* 可設定右上方的邊框圓角，同上 */

    border-bottom-right-radius: 10px;   /* 可設定右下方的邊框圓角，如果只有一個長度，表示是圓角。
                                                                如果有兩個長度，第一個長度是水平軸半徑，
                                                                            第二個長度是垂直軸半徑
                                                                如果是百分比，第一個代表寬度百分比
                                                                            第二個代表高度百分比 */

    border-bottom-left-radius: 10px;   /* 可設定左下方的邊框圓角，同上 */

    border-radius: 10px 10xp 10px 10px; /* 上述4種的簡便表示法，但是只能將4個角設為圓角。
                                           如果只有一個數值，代表4個角皆以此數值當作半徑。
                                           如果有二個數值，第一個數值是套用左上角和右下角，第二個數值是套用在右上角和左下角
                                           如果有三個數值，第一個數值是左上角，第二個是右上角和左下角，第三個是右下角
                                           如果有四個數值，分為左上、右上、右下、左下 */
}

/* 如果有上述4種的簡易表示表
    1.如果有一個值，這個值套用上、下、左、右邊框
    2.當有二個值，第一個值套用上、下，第二個套用左、右
    3.當有三個值，第一個值套用上邊，第二個值套用左、右，第三個值套用下
    4.當有四個值，分別套用上、右、下、左 */




/* virtualClass */
    /* 連結的虛擬類別，使用在Client會接觸到的元素，ex.input，超連結 */
    /*未點選狀態*/
    a:link {
        color: green;
     }
     /*已點選狀態*/
     a:visited {
         color: blue;
     }
     /*當游標靠近就會改變樣式*/
     a:hover {
         size: 30px;
         color:yellow;
     }
     /*當被點選*/
     a:active {
         size: 20px;
     }
     /*被點選(聚焦)就會改變樣式(小心不要與visited重疊到focus會優先)*/
     input:focus {
         background-color: red;
     }
     /*用在目標虛擬類別，比如下方href例子*/
     h1:target {
         background-color: grey;
     }