
/* 如果html要套用css在title先載入<link rel = "stylesheet" href = "./CSS.css"> */

font {
    
    /* 更改字體設定 */

    color: #0000ff;         /* 更改字體顏色 */

    text-align: center;       /* 文字對齊 left：左  right：右   center：置中對齊    justify：左右對齊   
                                                initial：使用預設   inherit：繼承父元素對齊方式 */

    text-indent: 32px;        /* 首行縮排，可以使用cm、px、pt、em等設定固定長度，預設是0，%：縮排父元素寬度的百分比 */

    text-transform: none;     /* 大小寫轉換，normal：這是預設，保持文字原本樣式 capitalize：文字第1個字母大寫
                                            uppercase：字母全部轉成大寫 lowercase：字母全部轉成小寫 */

    text-shadow: none;        /* 文字陰影，h-shadow：水平陰影的位置，往右是正值，允許負值，此值不可忽略
                                          v-shadow：垂直陰影的位置，往下是正值，允許負值，此值不可省略 
                                          blur-radius：可設定模糊的範圍，單位與h-shadow或v-shadow相同，可省略
                                          color：陰影顏色 
                                          前面3(4)個要輸入，輸入格式為text-shadow: 5 5 5 blue;
                                          none：這是預設，沒有陰影 */

    text-decoration: none;    /* 線條裝飾，none：這是預設   inderline：底線
                                          overline：頂線    line-through：刪除線 還有許多搭配線條的設定屬性*/

    text-decoration-color: blue;    /* 主要是指定裝飾線條色彩 */

    text-decoration-style: none;    /* 這是線條裝修樣式，solid：實線，這是預設  dashed：虛線    dotted：點線
                                                        double：雙線    wavy：波浪線 */
    
    overflow: hidden;               /* 溢出資料隱藏 */

    text-overflow: clip;            /* 文字超出顯示範圍時的處理方式，clip：超出顯示區的資料不予顯示
                                                                   ellipsis：超出顯示區的資料以"..."顯示 */

    white-space: normal;      /* 處理空白字元，normal：這是預設，瀏覽器會忽略空白   nowrap：本文不換行，直到遇上<br>
                                              pre：空白會保留，類似HTML的<pre>元素  pre-line：合併空白符號，文件正常換行
                                              pre-wrap：瀏覽器會保留空白符號，文件正常換行 
                                              initial：使用預設   inherit：繼承父元素對齊方式 */

    word-spacing: normal;     /* 文字間距，normal：這是預設，文字間距是0.25em   length：設定額外文字的間距，可以是負值
                                initial：使用預設(不知跟上面有甚麼差別)     inherit：繼承父元素對齊方式*/

    word-wrap: normal;        /* 這個屬性主要是處理顯示區寬度無法顯示較長的單字時，ex.URL的網址，網頁處理方式
                                normal：這是預設，只有在可以換行的地方換行，否則持續顯示直到結束 
                                break-word：可以直接將較長的單字或URL網址中途換行 */

    line-height: normal;      /* 行高設定，normal：這是預設，設置合理的行高 number：設定數字，這個數字會與目前字形尺寸相乘來設置行間距
                                          length：設定固定的行間距，單位可以是cm、px、pt等  %：依目前字形尺寸的百分比   inherit：繼承父元素對齊方式 */

    letter-spacing: normal;   /* 字母間距，normal：這是預設，沒有額外空間   length：設定固定的字元間距，可以是負值 
                                        initial：使用預設(不知跟上面有甚麼差別)     inherit：繼承父元素對齊方式 */
    
    font-family: "Timer New Roman" , "Arial"; /* 字型名稱，如果第1個找不到字體將會依序的往下找*/
    
    font-size: 10px;                          /* 字型大小 */
    
    font-style: normal;                       /* 字型樣式(這邊是斜體處理，分為正常normal 斜體italic 傾斜體oblique) */
    
    font-weight: normal;                      /* 字型樣式(這邊是粗體處理，分為正常normal 粗體字bold 更粗的字體bolder 更細的字體bolder 也可以給數值100-900 細至粗) */
    
    font-variant: small-caps;                 /* 預設是normal，可以把英文小寫變大寫、大寫字體變得比小寫還要大一點 */
    
    font-size-adjust: none;                   /* 主要是設定字型高度高度比率，給小數數值 */
    
    @font-face {                              /* 可以從伺服器上下載字型下來(但要小心版權問題) */
        font-family: ;
        src: url();
    }

    tab-size: 0;            /* 設定Tab鑑寬度，number：預設是8個英文字元寬度 
                                             length：設定tab字元的長度，目前尚未獲得主要瀏覽器支援 */
}

/* 項目清單 */
list {

    list-style-type: none;      /* 建立項目清單符號 
                                    下列是項目符號的屬性值
                                    disc：這是預設，實心圓點    circle：空心圓點    square：實心方塊    none：不顯示項目符號
                                    下列是編號符號的屬性值
                                    decimal：阿拉伯數字，從1開始計數
                                    decimal-leading-zero：阿拉伯數字，從01、02...開始計數
                                    lower-roman/upper-roman：小寫/大寫羅馬數字(i/l)
                                    lower-alpha/upper-alpha：小寫/大寫英文字母(a/A)
                                    lower-greek：小寫希臘字母
                                    lower-latin/upper-latin：小寫/大寫拉丁字母
                                    hebrew/armenian/gerogian：希伯來編號/亞美尼雅編號/喬治雅編號 
                                    hiragana/katakana/hiragana-iroha/katakana-iroha：日文片假名(a/A/i/I)*/

    list-style-image: none;     /* 建立圖片項目符號，url(filename) */

    list-style-position: inside;    /* 項目符號與編號位置，inside和outside，像list一樣有分外層內層關係 */
    
    list-style: none;           /* 這是上述3個加起來的屬性，可以一起設定，如果某個屬性值使用預設，是可以省略 */

}

/* 背景 */
background {
    
    opacity: 1;                     /* 透明度，介於0.0(完全透明) ~ 1.0之間(完全不透明) */

    background-color: blue;      /* 背景顏色，可輸入color_name、hex_number、rgb_number、transparent(預設，背景透明) */

    background-image: none;        /* 背景圖像，url()，none */

    background-repeat: repeat;     /* 可設定圖像是否重複出現，
                                        repeat：這是預設，圖片將在水平方向和船值方向重複出現
                                        repeat-x：圖片將在x軸水平方向重複出現
                                        repeat-y：圖片將在y軸垂直方向重複出現
                                        no-repeat：圖片只顯示一次
                                        space：圖片在水平和垂直重複出現時會自動調整間距，讓圖片完整呈現
                                        sound：圖片在水平和垂直重複出現時會自行調整大小，讓圖片完整呈現 */

    background-position: center;    /* 可以將圖片放在指定位置，而不是一律放在左上角 
                                       value值可以是下列幾類
                                       left top、left center、left bottom、right top、right center、right center、right bottom
                                       center top、center center、center bottom
                                       如果設定一個值，另一個一定是center
                                       x% y%
                                       百分比方式設置，第一個是水平位置，第二個是垂直位置，左上是0%0%，右下角是100%100%，
                                       如果只設定一個值，另一個值一定是50% 
                                       xpos ypos
                                       第一個值是水平位置，第二個值是垂直位置，ex像素px，如果只設定一個值，另一個值是50%
                                       ，可混用%c和position值 */

    background-size: auto;          /* 背景圖片大小
                                    auto：這是預設選項，背景圖依本身的寬高顯示，若是背景空間不夠，則只能顯示部分圖像
                                    length：設置圖片得寬度和高度，第一個值是寬度，第二個值是高度。如果只設一個值另一個就是auto
                                    percentage：以父元素的百分比來設置圖片的寬度和高度，同length敘述
                                    cover：可能造成部分圖像不再背景區
                                    contain：圖像會依背景大小自行調整覆蓋整個背景區 */

    background-attachment: scroll;  /* 背景圖片是否隨內容捲動，scroll：這是預設 fixed：背景圖不會隨頁面捲動 
                                            local：一般使用與scroll相同，但在inframe顯示時，背景圖則不捲動 */
    
    background-clip: border-box;    /* 設定背景圖片的顯示範圍，
                                       border-box：背景顯示在邊框盒子之內的區域(包含邊框)
                                       padding-box：背景顯示在內邊距盒子的區域(包含內邊距)
                                       content-box：背景顯示在內容盒子之內的區域(只包含內容) */
    
    background-origin: border-box;  /* 設定背景圖案的基準位置，
                                       border-box：邊框盒子左上角是基準點，圖片左上角在此點。此點也可稱(0.0%,0.0%)，右下角為(100%,100%)
                                       padding-box：內邊距盒子左上角是基準點，同上
                                       cintent-box：內容盒子左上角是基準點，同上 */
                                            
    background: none;               /* 背景簡易表示法
                                    可以設定下列屬性值 
                                    background-color background-image background-position background-size
                                    background-repeat background-attachment background-origin background-clip */



    /* 線性漸層，這是一個線性漸層函數，可以設定
       色彩從某一個方向往另一個方向不同色彩線性漸層的變化
       direction：to bottom, to top, to right, to left，可以用復合的比如to top left 左上
       color stop：色彩停駐點，如果只有2個點之間的顏色變化，可以直接指定起點顏色和
       終點顏色。如果線性變化過程有多餘2個顏色，則中間點的顏色需同時指定色彩和位置(其它位置也可以)，
       ex.blue, green 30%, red */
    background: linear-gradient(direction, color stop, "..." , color stop);     
       
    /* 放射狀漸層，這是一個放射性漸層函數，可以設定色彩從某一個點以圓形或橢圓形往四周不同色彩放射性漸層的變化，
       shape：色彩放射的形狀，如果省略會自行依照尺寸自行判斷，可使用圓形circle、或橢圓形ellipse
       length：可以直接使用關鍵字或是直接指定尺寸，關鍵字如下：
                closet-side：如果是外型是圓形circle，由圓形中心往最近的方塊邊漸層
                             如果是外型是橢圓形ellipse，由橢圓形中心往最近的方塊邊漸層
                farthest-side：如果是外型是圓形circle，由圓形中心往最遠的方塊邊漸層
                               如果是外型橢圓形ellipse，由橢圓形中心往最遠的方塊邊漸層
                closest-corner：如果是外型是圓形circle，由圓形中心往最近的方塊角漸層
                                如果是外型是橢圓形ellipse，由橢圓中心往最近的方塊角漸層
                farthest-corner：如果是外型是圓形circle，由圓形中心往最遠的方塊角漸層
                                 如果是外型是橢圓形ellipse，由橢圓中心往最遠的方塊角漸層
                ex. radial-gradient(circle 50px, yellow, red)
                    radial*gradient(ellipse 250px, 100px, yellow, red)
       position：預設是使用中心點開始往外漸層，但是也可以使用top、right、bottom、left或數值或%值方法設定中心點
       color stop： 色彩停駐點，如果只有2個點之間的顏色變化，可以直接指定起點顏色和
       終點顏色。如果線性變化過程有多餘2個顏色，則中間點的顏色需同時指定色彩和位置(其它位置也可以)，
       ex.blue, green 30%, red */
    background: radial-gradient(shape length position, color stop, "...", color stop);

    /* 重複線性漸層，這個函數使用方式與linear-gradient相同，至於可以重複多少次視起始色彩停駐點至結束色彩停駐點的長度而定
                    ，如果想要重複5次，則請設定結束色彩停駐點的位置視20%。
                      如果想要重複4次，則請設定結束色彩停駐點得位置視25%。
                      就是100%/你要的是數=你要設置?% */
    background: repeating-linear-gradient();

    /* 重複放射漸層，這個函數使用方式與radial-gradient相同，至於可以重複多少次視起始色彩停駐點至結束色彩停駐點的長度而定
                    ，如果想要重複5次，則請設定結束色彩停駐點的位置視20%。
                      如果想要重複4次，則請設定結束色彩停駐點得位置視25%。 */
    background: repeating-radial-gradient();

}

/* Margin外邊距 */
Margin {

    margin-top: 20px;       /* 上外邊距 */

    margin-right: 30px;     /* 右外邊距 */

    margin-bottom: 40px;    /* 下外邊距 */

    margin-left: 50px;      /* 左外邊距 */

    margin: 20px 30px 40px 50px;           /* 上述4種的簡易表示法，使用時是順時針top、right、bottom、left */

}

/* padding內邊距 */
padding {

    padding-top: 5px;       /* 上內邊距 */

    padding-right: 10px;    /* 右內邊距 */

    padding-bottom: 15px;   /* 下內邊距 */

    padding-left: 20px;     /* 左內邊距 */

    padding: 5px 10px 15px 20px;    /* 上述4種的簡易表示法，使用時是順時針top、right、bottom、left */

}

/* Border邊框 */
Border {

    border-top-style: none;     /* 上框線樣式 */

    border-right-style: none;   /* 右框線樣式 */

    border-bottom-style: none;  /* 下框線樣式 */

    border-left-style: none;    /* 左框線樣式 */

    border-style: none;         /* 上述4種的簡易表示法，使用時是順時針上右下左 */

    /* border-style的值可以設
        none：無邊框
        dotted：點框線
        dashed：虛框線
        solid：實線框線，寬度由border-width決定
        groove：3D內凹框線，效果需由border-color決定
        ridge：3D外凸框線，效果需由border-color決定
        inset：內凹框線，效果需由border-color決定
        outset：外凹框線，效果需由border-color決定
    */

    border-top-color: none;     /* 上框線色彩 */

    border-right-color: none;   /* 右框線色彩 */

    border-bottom-color: none;  /* 下框線色彩 */

    border-left-color: none;    /* 左框線色彩 */

    border-color: none;         /* 上述4種的簡易表示法，使用時是順時針上右下左 */



    border-top-width: none;     /* 上框線寬度 */

    border-right-width: none;   /* 右框線寬度 */

    border-bottom-width: none;  /* 下框線寬度 */

    border-left-width: none;    /* 左框線寬度 */

    border-width: none;         /* 上述4種的簡易表示法，使用時是順時針上右下左 */

    /* border-width，有以下這幾個值
        thin：細框線
        medium：這是預設，中等框線
        thick：粗框線
        length：設定邊框寬度 */

    border-top: none;           /* 上，簡易表示法 */

    border-right: none;         /* 右，簡易表示法 */

    border-bottom: none;        /* 下，簡易表示法 */

    border-left: none;          /* 左，簡易表示法 */

    border: none;               /* 簡易表示法 */
    
    /* 上面三個加起來簡易表示法可以用下列方式表達
        border-style  border-color  border-width */
    
    border-top-left-radius: 10px;   /* 可設定左上方的邊框圓角，如果只有一個長度，表示是圓角。
                                                              如果有兩個長度，第一個長度是水平軸半徑，
                                                                             第二個長度是垂直軸半徑
                                                              如果是百分比，第一個代表寬度百分比
                                                                           第二個代表高度百分比 */

    border-top-right-radius: 10px;  /* 可設定右上方的邊框圓角，同上 */

    border-bottom-right-radius: 10px;   /* 可設定右下方的邊框圓角，如果只有一個長度，表示是圓角。
                                                                如果有兩個長度，第一個長度是水平軸半徑，
                                                                            第二個長度是垂直軸半徑
                                                                如果是百分比，第一個代表寬度百分比
                                                                            第二個代表高度百分比 */

    border-bottom-left-radius: 10px;   /* 可設定左下方的邊框圓角，同上 */

    border-radius: 10px 10xp 10px 10px; /* 上述4種的簡易表示法，但是只能將4個角設為圓角。
                                           如果只有一個數值，代表4個角皆以此數值當作半徑。
                                           如果有二個數值，第一個數值是套用左上角和右下角，第二個數值是套用在右上角和左下角
                                           如果有三個數值，第一個數值是左上角，第二個是右上角和左下角，第三個是右下角
                                           如果有四個數值，分為左上、右上、右下、左下 */


    /* border-image是來取代框線的 */
    border-image-source: none;          /* 套用邊框圖案，直接以一個圖案套用到邊框 */

    border-image-slice: 5% fill;             /* 設定邊框圖案分割，邊框圖案會被分割成9塊，(很像就是塞一個背景在後面而已，然後中間圖片挖空)
                                                長度：套用簡易表示法
                                                %：使用百分比長度
                                                fill：如果有指定fill，原先套用邊框圖案中央的內容就會顯示出來
                                                要與border搭配要設置框線 */

    border-image-width: auto;           /* 設定圖案邊框的寬度，
                                           長度單位(百分比)：可使用1~4個長度單位，套用簡易表示法
                                           數值：用倍數觀念處理邊框的寬度，預設是1。也可以有1~4個數值，套用簡易表示法
                                           auto：和border-image-slice所指定的數值相同。如果沒有border-image-slic則是border-width屬性值 */

    border-image-outset: 0%;            /* 加長圖案邊框的區域，
                                           長度單位(百分比)：加長的距離，可使用1~4個長度單位，套用簡易表示法
                                           數值：用倍數觀念處理的寬度，預設是1。也可以有1~4個數值，套用簡易表示法 */

    border-image-repeat: repeat;        /* 設定邊框圖案重複顯示方式，(圖片小一點會比較好)
                                           stretch：這是預設，配合邊框圖案將被展延
                                           repeat：配合邊框，圖案重複顯示，超出部分就裁剪掉
                                           round：配合邊框，圖案重複顯示，超出部分時圖案自動縮小，以配合邊框
                                           space：配合邊框，圖案重複顯示，如果超出邊框無法顯示，將多餘空間分配到個別圖案 */    

    border-image: url() 65 stretch;     /* 簡易表示法，使用順序
                                            border-image-source     圖片的URL
                                            border-image-slice      圖片分割的位置
                                            border-image-width      邊框的寬度
                                            border-image-outset     圖片加長的距離
                                            border-imager-repeat    邊框的重複方式 */

}

/* 如果有上述4種的簡易表示法
    1.如果有一個值，這個值套用上、下、左、右邊框
    2.當有二個值，第一個值套用上、下，第二個套用左、右
    3.當有三個值，第一個值套用上邊，第二個值套用左、右，第三個值套用下
    4.當有四個值，分別套用上、右、下、左 */

/* box (搭配div使用)*/
box {

    box-shadow: blue 10px 10px 10px 10px inset;     /* 設定盒子的陰影，每個陰影是由2~4個長度值、顏色、以及inset選項組成，若是長度數值省略則是0，
                                                         h-shadow：這是必須數值，代表水平陰影向右延伸的數量，負值則是向左延伸
                                                         v-shadow：這是必須數值，代表垂直陰影向下延伸的數量，負值則是向上延伸
                                                         blur：模糊長度，如果只有一個數值，代表模糊的。如果有第二個數值，將向四周擴散
                                                         顏色：陰影顏色，若省略則使用瀏覽器預設
                                                         inset：若設定，表示內側陰影 */

    box-sizing: border-box;                     /* 設定盒子寬度與高度，
                                                   content-box：這是預設，內容盒子區的寬度和高度
                                                   padding-box：內邊距盒子區(包含內邊距和內容盒子)的寬度和高度
                                                   border-box：邊框盒子區(包含邊框、內邊距和內容盒子)的寬度和高度 */

    /* 也可以用overflow-x或overflow-y來設置 */
    overflow: visible;                          /* 內容超出範圍時的顯示方式，資料超出內容盒子時，可由overflow-x(水平軸)和overflow-y(垂直軸)
                                                        設定處理方式，也可以直接使用overflow同時處理水平軸和垂直軸
                                                   visible：在內容盒子外顯示超出的內容
                                                   hidden：不顯示超出內容，也不提供水平(垂直)卷軸
                                                   scroll：不顯示超出內容，但提供水平(垂直)卷軸，可捲動顯示內容
                                                   auto：由瀏覽器設定，一般會提供卷軸 */
    
    /*outline指的是緊鄰border外的邊線  */
    outline-color: blue;                      /* 類似於border-color */

    outline-width: 0px;                         /* 類似於border-width */
    
    outline-style: inset;                       /* 類似於border-style */

    outline-offset: 0px;                        /* 這是定義outline邊線與border邊框的距離 */

    outline: blue dotted 0px;                 /* 簡易表示法，使用方式：outline-color outline-style outline-width */


    resize: none;                               /* 設定內容盒子的尺寸，
                                                   none：無法調整，這是預設
                                                   both：可以調整寬度和高度
                                                   horizontal：可以調整寬度
                                                   vertical：可調整高度 */

}


/* 表格 */
table {

    caption-side: top;                  /* 表格標題，可以放置表格標題的位置 top、bottom */

    border-spacing: 1px;                /* 儲存格框線的距離，只限於separete框線模式下，儲存格與儲存格之間稱為border-spacing`,
                                            length：定義長度，如果只有一個長度，則是水平和垂直距離相同
                                                            ，如果有二個長度，第一個長度是水平距離，第二個長度是垂直距離*/

    empty-cells: show;                  /* 顯示或隱藏空白的儲存格，就是儲存格如果沒有內容，可以將儲存個隱藏起來
                                            hide：不顯示內容、框線、底色
                                            show：這是預設，顯示框線、底色 */

    border-collapse: collapse;          /* 表格框線的模式，可用於設定表個框線是否與儲存格框線合併，
                                            separate：這是預設直，表格框線與儲存格框線彼此是分開
                                            collapse：表格框線與儲存格框線會合併 */

    table-layout: auto;                 /* 表格版面的排版，處理表格的佈局
                                            auto：這是預設值，表格的寬度會依儲存格內容寬度而定，系統會自動配置足夠空間，只要瀏覽器寬度夠寬內容不會分行顯示
                                            fixed：可以設定固定寬度 */



    /* tr:nth-child(2n+1){} */            /* 奇數表格行設定 */

    /* tr:nth-child(2n){} */              /* 偶數表格行設定 */

}





/* virtualClass */
    /* 連結的虛擬類別，使用在Client會接觸到的元素，ex.input，超連結 */
    /*未點選狀態*/
    a:link {
        color: green;
     }
     /*已點選狀態*/
     a:visited {
         color: blue;
     }
     /*當游標靠近就會改變樣式*/
     a:hover {
         size: 30px;
         color:yellow;
     }
     /*當被點選*/
     a:active {
         size: 20px;
     }
     /*被點選(聚焦)就會改變樣式(小心不要與visited重疊到focus會優先)*/
     input:focus {
         background-color: red;
     }
     /*用在目標虛擬類別，比如下方href例子*/
     h1:target {
         background-color: grey;
     }